{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'includes/main_navbar.html' %}
    {% include 'includes/main_sidebar.html' %}
    <head>
        <title>{% trans 'Password changed successfully!' %}</title>
    </head>
    <div class="content-wrapper login-page__wrapper">

        <div class="login-box">
            <!-- /. cord change password -->
            <div class="card card-outline card-dark">
                    <div class="card-header text-center">
                        {% trans 'Password changed successfully!' %}
                    </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.login-box -->
    </div>
{% endblock %}