{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'includes/main_navbar.html' %}
    {% include 'includes/main_sidebar.html' %}
    <head>
        <title>{% trans 'Password reset' %}</title>
    </head>
    <div class="content-wrapper login-page__wrapper">
        <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                                    <div class="card-header text-center">
                    {% trans 'Password set' %}
                </div>
                    <div class="card-body">
                        <p class="mb-1">
                            <a href="{% url "login" %}">{% trans 'Sign In' %}</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        </body>
    </div>

{% endblock %}