{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'includes/main_navbar.html' %}
    {% include 'includes/main_sidebar.html' %}
    <head>
        <title>{% trans 'Login' %}</title>
    </head>
    <div class="content-wrapper login-page__wrapper">

        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    {% trans 'Change you password' %}
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>{% trans "Your account doesn't have access to this pageTo proceed, please login with an account that has access." %}</p>
                        {% endif %}
                    {% endif %}

                    <form action="{{ password_change_done }}" method="post">
                        <div class="input-group mb-3 Form__login-wrapper">
                            {% csrf_token %}
                            {{ form }}
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit"
                                        class="btn btn-primary btn-block">{% trans 'Change' %}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.login-box -->
    </div>
{% endblock %}

