{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'includes/main_navbar.html' %}
    {% include 'includes/main_sidebar.html' %}

    <head>
        <title>{% trans 'Reset your password' %}</title>
    </head>

    <div class="content-wrapper login-page__wrapper">
        <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <div class="card-body">
                        <div class="card-header text-center">
                            {% trans 'Reset your password' %}
                        </div>
                        <p class="login-box-msg">{% trans "We've emailed you instructions for setting your password." %}</p>
                        <p class="login-box-msg">{% trans "If you dont receive an email, please make sure your entered the address you registered with." %}</p>
                    </div>
                </div>
            </div>
        </div>
        </body>
    </div>

{% endblock %}